  <footer class="admin-footer text-center py-3 mt-4 border-top">
    <div class="container">
      <p class="mb-0 text-muted">© <%= new Date().getFullYear() %> QuickSip | All rights reserved.</p>
     <!-- <small class="text-secondary">Designed for internal dashboard management</small>--->
    </div>
  </footer>

  <!-- JS Libraries -->
  <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
  <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
  <script src="/admin-assets/js/vendors/select2.min.js"></script>
  <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
  <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
  <script src="/admin-assets/js/vendors/chart.js"></script>
  <script src="/admin-assets/js/main.js"></script>
  <script src="/admin-assets/js/custom-chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <style>
    .admin-footer {
      background-color: #f2f9ff;
      font-size: 14px;
      margin-top: auto;
    }
  </style>
  </main>
  </body>
  </html>
